<!-- begin breadcrumb -->
<ol class="breadcrumb float-xl-right">
	<li class="breadcrumb-item">
    <div>
    Live <input type="checkbox" [(ngModel)]="isLive" /> 
    </div>
  </li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">
    
  <div class="row form-group m-b-30">
       
    <div class="col-md-12">
      <div class="row row-space-10">
        <div class="col-md-3">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" id="d1"
                  name="d1" #c1="ngModel" [(ngModel)]="modelDate1" ngbDatepicker #d1="ngbDatepicker" (ngModelChange)="onDate1Selected($event)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" id="d2"
                  name="d2" #c2="ngModel" [(ngModel)]="modelDate2" ngbDatepicker #d2="ngbDatepicker" (ngModelChange)="onDate2Selected($event)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="input-group">
            <ng-multiselect-dropdown class="form-control" style="padding: 0;"
              [placeholder]="'Workcenter'"
              [data]="workcenterlist"
              [(ngModel)]="selectedworkcenterlist"
              [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelect)="onItemDeSelect($event)"
            >
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-1"><button class="btn btn-primary btn-sm" type="button">Submit</button></div> -->
  </div>
</h1>
<!-- end page-header -->

<!-- begin row -->
<div class="row">
  	<!-- begin col-6 -->
    <div class="col-xl-6">

		<!-- begin panel -->
		<panel title="Workcenter Stacked Bar Chart">
      <div class="height-sm">
         <!-- [scheme]="chartColor"-->
        <ngx-charts-bar-vertical-stacked
          [results]="stackedBarChartData"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [showXAxisLabel]="true"
          [xAxisLabel]="'Day'"
          [showYAxisLabel]="true"
          [yAxisLabel]="'Number'">
        </ngx-charts-bar-vertical-stacked>
      </div>
		</panel>
		<!-- end panel -->
	</div>
  <!-- end col-6 -->
  <div class="col-xl-6">
    <panel title="Top 40 Co Item Table" footerClass="p-b-0 p-t-20 b-t-0">
      <ng-container outsideBody>
        <div class="table-responsive text-nowrap">
          <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns"></ng-table>
        </div>
      </ng-container>
      <ng-container footer>
        <ngb-pagination *ngIf="config.paging" class="d-flex justify-content-center" [(page)]="page" [maxSize]="maxSize" [pageSize]="itemsPerPage" [boundaryLinks]="true" [collectionSize]="length" [rotate]="false" (pageChange)="onChangeTable(config, $event)" (numPages)="numPages = $event"></ngb-pagination>
      </ng-container>
      
    </panel>
  </div>
</div>
<!-- end row -->
<!-- begin row -->
<div class="row">
	<!-- begin col-6 -->
	<div class="col-xl-6">
		<!-- begin panel -->
		<panel title="Workcenter Line Chart">
      <div class="height-sm">
          <!--[view]="view"-->
          <ngx-charts-line-chart
          [scheme]="colorScheme"
          [results]="lineChartData"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [autoScale]="autoScale"
          [referenceLines]="referenceLines"
          [showRefLines]="showRefLines"
          [showRefLabels]="showRefLabels"
          [view] = ""
          (select)="onSelect($event)">
        </ngx-charts-line-chart>
      </div>
		</panel>
		<!-- end panel -->
	</div>
	<!-- end col-6 -->
	<!-- begin col-6 -->
	<div class="col-xl-6">
		<!-- begin panel -->
		<panel title="Pie Chart">
      <div class="height-sm">
         <!-- [scheme]="chartColor"-->
        <ngx-charts-advanced-pie-chart
          [results]="pieChartData">
        </ngx-charts-advanced-pie-chart>
      </div>
		</panel>
		<!-- end panel -->
	</div>
	<!-- end col-6 -->
</div>
<!-- end row -->
