<!-- begin breadcrumb -->
<ol class="breadcrumb float-xl-right">
	<li class="breadcrumb-item">
    <div>
    Live <input type="checkbox" [(ngModel)]="isLive" /> 
    </div>
  </li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">
    
  <div class="row form-group m-b-30">
    <label class="col-md-1">Range</label>    
    <div class="col-md-8">
      <div class="row row-space-10">
        <div class="col-md-6">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" id="d1"
                  name="d1" #c1="ngModel" [(ngModel)]="modelDate01" ngbDatepicker #d1="ngbDatepicker" (ngModelChange)="onDate1Selected($event)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" id="d2"
                  name="d2" #c2="ngModel" [(ngModel)]="modelDate02" ngbDatepicker #d2="ngbDatepicker" (ngModelChange)="onDate2Selected($event)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- <div class="col-md-1"><button class="btn btn-primary btn-sm" type="button">Submit</button></div> -->
  </div>
</h1>
<!-- end page-header -->

<!-- begin row -->
<div class="row">
  <div class="col-xl-6">
		<!-- begin panel -->
		<panel title="Jobs & Sales">


                  <!-- begin table-responsive -->
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>Job Order Outstanding</td>
                          <td>{{jobstotal}}</td>
                        </tr>
                        <tr>
                          <td>Sales Order Outstanding</td>
                          <td>{{salestotal| number:0}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- end table-responsive -->
            <!-- begin table-responsive -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th nowrap>Process</th>
                    <th nowrap>Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>5</td>
                    <td>{{five}}</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>{{six}}</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>{{seven}}</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>{{eight}}</td>
                  </tr>
                  <tr>
                    <td>9</td>
                    <td>{{nine}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- end table-responsive -->
		</panel>
    <!-- end panel -->
  </div>
  <div class="col-xl-6">
    <panel title="Line Achievement Table" footerClass="p-b-0 p-t-20 b-t-0">

      <ng-container outsideBody>
        <div class="table-responsive text-nowrap">
          <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns"></ng-table>
        </div>
      </ng-container>
      <ng-container footer>
        <ngb-pagination *ngIf="config.paging" class="d-flex justify-content-center" [(page)]="page" [maxSize]="maxSize" [pageSize]="itemsPerPage" [boundaryLinks]="true" [collectionSize]="length" [rotate]="false" (pageChange)="onChangeTable(config, $event)" (numPages)="numPages = $event"></ngb-pagination>
      </ng-container>
      
    </panel>
  </div>
</div>
<!-- end row -->
